# Connect to Mongo, create db and basic insert and find()

In [ ]:
import pymongo # pip install pymongo

In [30]:
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [31]:
mydb = client['Student'] # creating DB if already exists it will connects to the DB

In [32]:
info = mydb.studentinfo # creating collection "studentinfo"

In [8]:
records = [{
    'firstName':'Vinay',
    'lastName':'K',
    'Age':15,
    'School':"St Mary's"
}, 
{
    'firstName':'Naveen',
    'lastName':'B',
    'Age':14,
    'School':"John's"
}, 
{
    'firstName':'Manoj',
    'lastName':'D',
    'Age':13,
    'School':"Balaji"
}]

In [11]:
# info.insert_one() # to insert one json document into collection
info.insert_many(records) # inserting json documents into our studentinfo collection

In [63]:
for i in info.find(): # find() returns pymongo object. It resmebles as select in SQL
    print(i)

{'_id': ObjectId('5ed6534d1433bff5ae23e098'), 'firstName': 'Vinay', 'lastName': 'K', 'Age': 15, 'School': "St Mary's"}
{'_id': ObjectId('5ed6534d1433bff5ae23e099'), 'firstName': 'Naveen', 'lastName': 'B', 'Age': 14, 'School': "John's"}
{'_id': ObjectId('5ed6534d1433bff5ae23e09a'), 'firstName': 'Manoj', 'lastName': 'D', 'Age': 13, 'School': 'Balaji'}
{'_id': ObjectId('5ed656f01433bff5ae23e09f'), 'firstName': 'Amruta'}

# Querying Json documents

In [33]:
info.insert_one({'firstName':'Amruta'})

In [35]:
info.find_one() # gets the first json doc from the collection

{'_id': ObjectId('5ed6534d1433bff5ae23e098'),
 'firstName': 'Vinay',
 'lastName': 'K',
 'Age': 15,
 'School': "St Mary's"}

In [40]:
print(info.find_one({'School':"St Mary's"})) #select * form studentinfo where School="St Mary's"

{'_id': ObjectId('5ed6534d1433bff5ae23e098'), 'firstName': 'Vinay', 'lastName': 'K', 'Age': 15, 'School': "St Mary's"}

###  just like ['in', '<', '>', 'and', 'or'] operations in SQL mongo has [$in, dollargt, dollarlt, dollaror]

In [62]:
# $in operation

for i in info.find({'School':{'$in':["St Mary's", 'Balaji', "John's"]}}): # select * from studentinfo where School in ('','','')
    print(i)

{'_id': ObjectId('5ed6534d1433bff5ae23e098'), 'firstName': 'Vinay', 'lastName': 'K', 'Age': 15, 'School': "St Mary's"}
{'_id': ObjectId('5ed6534d1433bff5ae23e099'), 'firstName': 'Naveen', 'lastName': 'B', 'Age': 14, 'School': "John's"}
{'_id': ObjectId('5ed6534d1433bff5ae23e09a'), 'firstName': 'Manoj', 'lastName': 'D', 'Age': 13, 'School': 'Balaji'}

In [45]:
# and operation using ','

for i in info.find({'School':'Balaji', 'Age':{'$lt':14}}): # select * from studentinfo where School='Balaji' and age<15
    print(i) # if criteria doesn't matches we don't get any output

{'_id': ObjectId('5ed6534d1433bff5ae23e09a'), 'firstName': 'Manoj', 'lastName': 'D', 'Age': 13, 'School': 'Balaji'}

In [50]:
# $and operator should take array []

for i in info.find({'$and':[{'School':'Balaji'}, {'Age':{'$lt':14}}]}): # select * from studentinfo where School='Balaji' and age<15
    print(i) # if criteria doesn't matches we don't get any output

{'_id': ObjectId('5ed6534d1433bff5ae23e09a'), 'firstName': 'Manoj', 'lastName': 'D', 'Age': 13, 'School': 'Balaji'}

In [46]:
# $and operator should take array []

for i in info.find({'$or':[{'firstName':'Vinay'}, {'firstName':'Sreekar'}]}): 
    print(i) # if criteria doesn't matches we don't get any output

{'_id': ObjectId('5ed6534d1433bff5ae23e098'), 'firstName': 'Vinay', 'lastName': 'K', 'Age': 15, 'School': "St Mary's"}

# Students details with Subjects (nested values)

In [54]:
sub_info = mydb.subjects # creating new collection

In [57]:
sub_info.insert_many([
    {'Name':'Vinay', 'Age':15, 'Subjects':['Telugu','Hindi', 'English'], 'School':"St Mary's"},
    {'Name':'Manoj', 'Age':15, 'Subjects':['Civics','Physics', 'Chemistry'], 'School':"St Mary's"},
    {'Name':'Naveen', 'Age':14, 'Subjects':['Zoology','Atanomy', 'Biology'], 'School':"John's"},
    {'Name':'Amruta', 'Age':13, 'Subjects':['Maths','Science', 'Social'], 'School':"Balaji"},
])

In [105]:
for i in sub_info.find():
    print(i)

{'_id': ObjectId('5ed65cd41433bff5ae23e0a0'), 'Name': 'Vinay', 'Age': 15, 'Subjects': ['ECE', 'Hindi', 'English'], 'School': "St Mary's", 'marks': {'ECE': 83, 'Hindi': 92, 'English': 84}}
{'_id': ObjectId('5ed65cd41433bff5ae23e0a1'), 'Name': 'Manoj', 'Age': 15, 'Subjects': ['Civics', 'Physics', 'Chemistry'], 'School': "St Mary's"}
{'_id': ObjectId('5ed65cd41433bff5ae23e0a2'), 'Name': 'Naveen', 'Age': 14, 'Subjects': ['Zoology', 'Atanomy', 'Biology'], 'School': "John's"}
{'_id': ObjectId('5ed65cd41433bff5ae23e0a3'), 'Name': 'Amruta', 'Age': 13, 'Subjects': ['ECE', 'Science', 'Social'], 'School': 'Balaji', 'marks': {'ECE': 83, 'Science': 72, 'Social': 99}}
{'_id': ObjectId('5ed6626a1433bff5ae23e0a4'), 'marks': {'ECE': 83, 'Hindi': 92, 'ENglish': 84}}

# updating Json docs in the collections

In [89]:
# need to mention the reference field

sub_info.update_one({'Name':'Vinay'}, {'$set':{'Subjects.0':'ECE'}}) # updating Vinay's Subject[0] to 'ECE'
sub_info.update_one({'Name':'Amruta'}, {'$set':{'Subjects.0':'ECE'}}) # updating Amruta's Subject[0] to 'ECE'

In [100]:
# need to mention the reference field

sub_info.update_one({'Name':'Vinay'}, {'$set':{'marks':{'ECE':83, 'Hindi': 92, 'English':84}}}) # adding extra field
sub_info.update_one({'Name':'Amruta'}, {'$set':{'marks':{'ECE':83, 'Science': 72, 'Social':99}}}) # adding extra field

In [95]:
# it retrieves all json docs which are having ECE in their Subjects array

for i in sub_info.find({'Subjects':'ECE'}): 
    print(i)

{'_id': ObjectId('5ed65cd41433bff5ae23e0a0'), 'Name': 'Vinay', 'Age': 15, 'Subjects': ['ECE', 'Hindi', 'English'], 'School': "St Mary's", 'Subjects[0]': 'ECE'}
{'_id': ObjectId('5ed65cd41433bff5ae23e0a3'), 'Name': 'Amruta', 'Age': 13, 'Subjects': ['ECE', 'Science', 'Social'], 'School': 'Balaji'}

# to find unique values using distinct

In [91]:
# to find unique values frmo json docs

sub_info.distinct('Subjects.0') # retrieves unique first subject names from all json docs

['ECE', 'Civics', 'Zoology']

# Inserting new field in json doc

In [96]:
# if you dont mention any reference files then the newly added field inserted into first json doc

sub_info.insert_one({'marks':{'ECE':83, 'Hindi': 92, 'ENglish':84}})

# Deleting a field using $unset operator

In [103]:
# need to mention the reference field

sub_info.update_one({'Name':'Vinay'},{'$unset': {'Subjects[0]':1}})

# deleting a json doc

In [123]:
# fetch the record which you want to delete adn perform delete operation

record = sub_info.find().sort('Name')[0]
sub_info.delete_one(record) # document deleted

# check the json docs
for i in sub_info.find():
    print(i)

{'_id': ObjectId('5ed65cd41433bff5ae23e0a0'), 'Name': 'Vinay', 'Age': 15, 'Subjects': ['ECE', 'Hindi', 'English'], 'School': "St Mary's", 'marks': {'ECE': 83, 'Hindi': 92, 'English': 84}}
{'_id': ObjectId('5ed65cd41433bff5ae23e0a1'), 'Name': 'Manoj', 'Age': 15, 'Subjects': ['Civics', 'Physics', 'Chemistry'], 'School': "St Mary's"}
{'_id': ObjectId('5ed65cd41433bff5ae23e0a2'), 'Name': 'Naveen', 'Age': 14, 'Subjects': ['Zoology', 'Atanomy', 'Biology'], 'School': "John's"}
{'_id': ObjectId('5ed65cd41433bff5ae23e0a3'), 'Name': 'Amruta', 'Age': 13, 'Subjects': ['ECE', 'Science', 'Social'], 'School': 'Balaji', 'marks': {'ECE': 83, 'Science': 72, 'Social': 99}}

# List of Databases

In [109]:
print(client.list_database_names())

['Employee', 'Student', 'admin', 'config', 'local']

In [110]:
dblist = client.list_database_names()
if "Student" in dblist:
  print("The database exists.")

The database exists.

# List of Collections

In [112]:
print(mydb.list_collection_names()) # collections in Student Database

['subjects', 'studentinfo']

# Sort

In [114]:
# Sort method takes the arguments of field names 

for i in sub_info.find().sort('Name'):
    print(i)

{'_id': ObjectId('5ed6626a1433bff5ae23e0a4'), 'marks': {'ECE': 83, 'Hindi': 92, 'ENglish': 84}}
{'_id': ObjectId('5ed65cd41433bff5ae23e0a3'), 'Name': 'Amruta', 'Age': 13, 'Subjects': ['ECE', 'Science', 'Social'], 'School': 'Balaji', 'marks': {'ECE': 83, 'Science': 72, 'Social': 99}}
{'_id': ObjectId('5ed65cd41433bff5ae23e0a1'), 'Name': 'Manoj', 'Age': 15, 'Subjects': ['Civics', 'Physics', 'Chemistry'], 'School': "St Mary's"}
{'_id': ObjectId('5ed65cd41433bff5ae23e0a2'), 'Name': 'Naveen', 'Age': 14, 'Subjects': ['Zoology', 'Atanomy', 'Biology'], 'School': "John's"}
{'_id': ObjectId('5ed65cd41433bff5ae23e0a0'), 'Name': 'Vinay', 'Age': 15, 'Subjects': ['ECE', 'Hindi', 'English'], 'School': "St Mary's", 'marks': {'ECE': 83, 'Hindi': 92, 'English': 84}}

In [115]:
# Sort the json docs in descending order

for i in sub_info.find().sort('Name', -1):
    print(i)

{'_id': ObjectId('5ed65cd41433bff5ae23e0a0'), 'Name': 'Vinay', 'Age': 15, 'Subjects': ['ECE', 'Hindi', 'English'], 'School': "St Mary's", 'marks': {'ECE': 83, 'Hindi': 92, 'English': 84}}
{'_id': ObjectId('5ed65cd41433bff5ae23e0a2'), 'Name': 'Naveen', 'Age': 14, 'Subjects': ['Zoology', 'Atanomy', 'Biology'], 'School': "John's"}
{'_id': ObjectId('5ed65cd41433bff5ae23e0a1'), 'Name': 'Manoj', 'Age': 15, 'Subjects': ['Civics', 'Physics', 'Chemistry'], 'School': "St Mary's"}
{'_id': ObjectId('5ed65cd41433bff5ae23e0a3'), 'Name': 'Amruta', 'Age': 13, 'Subjects': ['ECE', 'Science', 'Social'], 'School': 'Balaji', 'marks': {'ECE': 83, 'Science': 72, 'Social': 99}}
{'_id': ObjectId('5ed6626a1433bff5ae23e0a4'), 'marks': {'ECE': 83, 'Hindi': 92, 'ENglish': 84}}

# Drop Collection

In [125]:
# sub_info.drop()

# limit the queryset json documents using limit()

In [126]:
# sub_info has 4 docs but limiting to 2 docs in output

for i in sub_info.find().limit(2):
    print(i)

{'_id': ObjectId('5ed65cd41433bff5ae23e0a0'), 'Name': 'Vinay', 'Age': 15, 'Subjects': ['ECE', 'Hindi', 'English'], 'School': "St Mary's", 'marks': {'ECE': 83, 'Hindi': 92, 'English': 84}}
{'_id': ObjectId('5ed65cd41433bff5ae23e0a1'), 'Name': 'Manoj', 'Age': 15, 'Subjects': ['Civics', 'Physics', 'Chemistry'], 'School': "St Mary's"}